@import "tailwindcss";

@layer utilities {
  @keyframes shine {
    100% {
      left: 125%;
    }
  }
  .animate-shine {
    animation: shine 0.8s ease-in-out;
  }
}

@media (min-width: 768px) {
  html, body, a, button, input, textarea {
    cursor: none !important;
  }
}